{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div class="modal fade" id="deleteWarning" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content col-md-6 text-center">
                <div class="modal-body">
                    <h4 class="modal-title">Delete Booking?</h4>
                </div>
                <div class="modal-footer">
                    <a class="clickable btn btn-danger btn-ok">Yes</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    {% if object %}
    {% if not object.flightdate %}
    <a class="btn btn-sm btn-default" href="#" data-href="{{ admin.generateObjectUrl('redeem', object) }}" title="{{ 'action_redeem'|trans({}, 'application') }}" data-toggle="modal" data-target="#deleteWarning"><i class="fa fa-repeat" aria-hidden="true"></i></a>
    {% endif %}
{% endif %}
{% endblock %}

