<td class="sonata-ba-list-field">
    {% if object.language == constant('\\App\\Entity\\Voucher::ENGLISH') %}
        ENGLISH
    {% elseif object.language == constant('\\App\\Entity\\Voucher::GERMAN') %}
        GERMAN
    {% endif %}
</td>
