<div class="modal fade" id="modalWarning" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <div class="modal-body">
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-footer">
        <a class="clickable btn btn-danger btn-ok">Yes</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ajaxError" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content col-md-12 text-center">
      <div class="modal-body">
        <h4 class="modal-title">AJAX Error has occurred</h4>
        <p>some content</p>
      </div>
    </div>
  </div>
</div>
