<div class="modal fade" id="deleteWarning" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content col-md-6 text-center">
      <div class="modal-body">
        <h4 class="modal-title">Delete {{ entity }}?</h4>
      </div>
      <div class="modal-footer">
        <a class="clickable btn btn-danger btn-ok">Yes</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
