body, h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    font-family: 'Assistant', sans-serif;
}

h4 {
    font-weight: 300;
}

.select2-container .select2-choice, .select2-container .select2-choices, .select2-container .select2-choices .select2-search-field input {
    font-family: 'Assistant', sans-serif;
}

.aazp-custom .panel-heading .btn-default {
    background-color: #ffffff;
}

.aazp-custom input.full-width {
    width: 100%;
}

.aazp-custom .panel-heading span.badge {
    color: #777777;
    background-color: #f5f5f5;
}

.label-status {
    color: #ffffff;
    display: block;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
}


.passengers div div {
    margin-bottom: 3px;
}

#booking_owner {
    margin: 20px 0px;
}

#booking_owner label {
    margin-right: 30px;
    margin-left: 5px;
}
