<td class="sonata-ba-list-field">
    {% if object.status == constant('\\App\\Entity\\Booking::STATUS_NEW') %}
            <span class="label label-danger">{{ constant('\\App\\Entity\\Booking::STATUS_LABELS')[constant('\\App\\Entity\\Booking::STATUS_NEW')] }}</span>
    {% elseif object.status == constant('\\App\\Entity\\Booking::STATUS_CONFIRMED') %}
            <span class="label label-primary">{{ constant('\\App\\Entity\\Booking::STATUS_LABELS')[constant('\\App\\Entity\\Booking::STATUS_CONFIRMED')] }}</span>
    {% elseif object.status == constant('\\App\\Entity\\Booking::STATUS_PAYMENT_PART') %}
            <span class="label label-warning">{{ constant('\\App\\Entity\\Booking::STATUS_LABELS')[constant('\\App\\Entity\\Booking::STATUS_PAYMENT_PART')] }}</span>
    {% elseif object.status == constant('\\App\\Entity\\Booking::STATUS_PAYMENT_FULL') %}
            <span class="label label-success">{{ constant('\\App\\Entity\\Booking::STATUS_LABELS')[constant('\\App\\Entity\\Booking::STATUS_PAYMENT_FULL')] }}</span>
    {% endif %}
</td>
