{% block user_block %}
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ path("security_user_profile_edit") }}"><i class="fa fa-user"></i>My Profile</a>
    </li>
    {% if app.user.pilot %}
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ path("availability_list") }}"><i class="fa fa-calendar"></i>My Availability</a>
    </li>
    {% endif %}
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ path("security_logout") }}"><i class="fa fa-sign-out "></i>Logout</a>
    </li>
{% endblock %}
