{% for timeSchedule in bookingDailySchedule.timeSchedules %}
{% set class = 'info' %}
{% if(timeSchedule.noOfPilotsAvailable <= 0) %}
{% set class = 'danger' %}
{% elseif(timeSchedule.noOfPilotsAvailable == 1) %}
{% set class = 'warning' %}
{% endif %}

<a href="#{{ timeSchedule.flightScheduleTime.scheduleStartTime|date("H:i") }}">
<button class="btn btn-{{ class }}" type="button" style="width:12%;margin-top:5px;">
  {{ timeSchedule.flightScheduleTime.scheduleStartTime|date("H:i") }} <span class="badge">{{ timeSchedule.noOfPilotsAvailable }}</span>
</button>
</a>
{% endfor %}