{% extends 'base/standard_layout.html.twig' %}


{% block content %}

  <div id="ajaxreplace" class="panel panel-default pdf-page-half">

	{% include 'booking/payment/passenger.payment.summary.form.html.twig' %}

  </div>

{% endblock %}
