<thead>
	<tr class="hidden-xs hidden-sm">
    	<th class="text-center" style="width:11%;">TIME</th>
    	<th class="text-center" style="width:14%;">MEETING</th>
    	<th class="text-center" style="width:19%;">FLIGHT</th>
    	<th class="text-center"><span class="fa fa-user"></span></th>
    	<th class="text-center" style="width:24%;">NAME</th>
    	<th class="text-center">PILOTS</th>
     	<th class="hidden-xs hidden-sm hidden-md text-right" style="width: 170px;">CREATED / UPDATED</th>
    	<th class="text-center"></th>
	</tr>
	<tr class="visible-xs visible-sm">
    	<th class="text-center" style="width:11%;">TIME</th>
    	<th class="text-center visible-xs visible-sm">MEET</th>
    	<th class="text-center visible-xs visible-sm"><span class="fa fa-plane"></span></th>
    	<th class="text-center"><span class="fa fa-user"></span></th>
    	<th class="text-center" style="width:24%;">NAME</th>
    	<th class="text-center">PILOTS</th>
    	<th class=""></th>
    </tr>
</thead>
