
<div class="col-xs-12 col-sm-12 col-md-5">{{ form_row(form.name, {'label':false, 'attr':{'class':'form-control'}}) }}</div>
<div class="col-xs-12 col-sm-12 col-md-4">{{ form_row(form.flight, {'label':false, 'attr':{'class':'form-control'}}) }}</div>
<div class="col-xs-10 col-sm-10 col-md-2">{{ form_row(form.pilot, {'label':false, 'attr':{'class':'form-control'}}) }}</div>
