<div class="col-md-6 col-sm-6">
  	<h5>Terms &amp; Conditions</h5>
	<p><small>With the verbal or written agreement to a fixed booking for a paragliding flight a binding contract exists between the passenger and Alpine Adventures Zermatt, hereafter referred to as AAZ. Through this booking the passenger acknowledges these terms and conditions as part of the contract between themselves and AAZ.</small></p>
	<dl>
	  <dt><small>Booking</small></dt>
	  <dd><small>Online or phone bookings are considered as provisional only until either a security full payment of flight is paid, or credit card details are provided by phone.</small></dd>
	</dl>
	<dl>
	  <dt><small>Cancellation</small></dt>
	  <dd><small>Payments will be fully refunded for cancellations by the passenger before 7pm on the evening before the planned flight. Cancellations on the day of the flight will result in loss of the security deposit. AAZ reserves the right to cancel or change reservations depending on weather conditions or operational requirements.</small></dd>
	</dl>
</div>
<div class="col-md-6 col-sm-6">
	<dl>
	  <dd><small>In the event of a cancellation by AAZ the passenger's deposit shall be fully refunded.</small></dd>
	</dl>
	<dl>
	  <dt><small>Late arrivals and no-show</small></dt>
	  <dd><small>Passengers more than 20 minutes late to the agreed meeting place may lose their booking and deposit. Passengers who fail to turn up at the agreed meeting place without notifying AAZ will be liable for the full amount of the flight.</small></dd>
	</dl>
	<dl>
	  <dt><small>Insurance</small></dt>
	  <dd><small>In the event of an accident, the pilot’s and respectively FlyZermatt’s (AAZ , Glutz, Schneider &amp; Giles) liability is limited to 5.000.000 CHF for injury or death, and up to 2.000 CHF for loss or damage to the transported belongings of the passenger.</small></dd>
	</dl>
	<dl>
	  <dt><small>Legalities</small></dt>
	  <dd><small>The legal relationship between the passenger and AAZ is governed by Swiss law. For complaints lodged AAZ, Zermatt is agreed to be the place of jurisdiction.</small></dd>
	</dl>
</div>
