{% extends 'base/standard_layout.html.twig' %}

{% block sonata_admin_content %}

<div id="ajaxreplace" class="box box-primary pdf-page-half">
	{% include ('payment/booking.payment.summary.form.html.twig') %}
</div>

	{#TODO move this script to central location. Can we make it dynamic?? #}
	<script>

		$(document).ready(function() {
			$purchaseItemsHolder1 = $('div.purchaseItems1');

			$purchaseItemsHolder1.append($newPurchaseItemLink1);

			$purchaseItemsHolder1.data('index', $purchaseItemsHolder1.children().length);

			$addPurchaseItemLink1.on('click', function (e) {
				// prevent the link from creating a "#" on the URL
				e.preventDefault();

				// add a new purchaseItem form (see next code block)
				createPurchaseItemAddLink($purchaseItemsHolder1, $newPurchaseItemLink1);
			});

			// add a delete link to all of the existing tag form li elements
			$purchaseItemsHolder1.find('div.purchaseItem').each(function () {
				createPurchaseItemDeleteLink($(this));
			});

			$purchaseItemsHolder2 = $('div.purchaseItems2');

			$purchaseItemsHolder2.append($newPurchaseItemLink2);

			$purchaseItemsHolder2.data('index', $purchaseItemsHolder2.children().length);

			$addPurchaseItemLink2.on('click', function (e) {
				// prevent the link from creating a "#" on the URL
				e.preventDefault();

				// add a new purchaseItem form (see next code block)
				createPurchaseItemAddLink($purchaseItemsHolder2, $newPurchaseItemLink2);
			});

			// add a delete link to all of the existing tag form li elements
			$purchaseItemsHolder2.find('div.purchaseItem').each(function () {
				createPurchaseItemDeleteLink($(this));
			});

			$purchaseItemsHolder3 = $('div.purchaseItems3');

			$purchaseItemsHolder3.append($newPurchaseItemLink3);

			$purchaseItemsHolder3.data('index', $purchaseItemsHolder3.children().length);

			$addPurchaseItemLink3.on('click', function (e) {
				// prevent the link from creating a "#" on the URL
				e.preventDefault();

				// add a new purchaseItem form (see next code block)
				createPurchaseItemAddLink($purchaseItemsHolder3, $newPurchaseItemLink3);
			});

			// add a delete link to all of the existing tag form li elements
			$purchaseItemsHolder3.find('div.purchaseItem').each(function () {
				createPurchaseItemDeleteLink($(this));
			});
		});

</script>

{% endblock %}
