{% extends 'base/standard_layout.html.twig' %}

{% block sonata_admin_content %}
  <div id="ajaxreplace" class="box box-primary pdf-page-half">
	{% include 'payment/passenger.payment.summary.form.html.twig' %}
  </div>
{% endblock %}
