{% extends 'base/standard_layout.html.twig' %}

{% block sonata_page_content_header %}
  {{ parent() }}
  <div class="sticky-wrapper">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Passenger Payment</a>
        </div>
      </div>
    </nav>
  </div>
{% endblock %}

{% block sonata_admin_content %}
    {{ parent() }}
    <div id="ajaxreplace" class="box box-primary pdf-page-half">
      {% include 'payment/passenger.payment.summary.form.html.twig' %}
    </div>

    <script>

        var $addPurchaseItemLink = $('<div class="btn-group pull-left"><div class="col-md-12 col-sm-12"><a href="#" class="add_purchase_item_link btn btn-default btn-md"><span class="glyphicon glyphicon-plus"></span></a></div></div>');
        var $newPurchaseItemLink = $('<div></div>').append($addPurchaseItemLink);

        $(document).ready(function() {

            // Get the ul that holds the collection of purchase items
            $purchaseItemsHolder = $('div.purchaseItems');
            // $purchaseItemsHolder.css('list-style-type', 'none');

            // add the "add a passenger" anchor and li to the passengers ul
            $purchaseItemsHolder.append($newPurchaseItemLink);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $purchaseItemsHolder.data('index', $purchaseItemsHolder.children().length);

            $addPurchaseItemLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new purchaseItem form (see next code block)
                createPurchaseItemAddLink($purchaseItemsHolder, $newPurchaseItemLink);
            });

            // add a delete link to all of the existing tag form li elements
            $purchaseItemsHolder.find('div.purchaseItem').each(function() {
                createPurchaseItemDeleteLink($(this));
            });


        });

    </script>
{% endblock %}
